extends layout

block content
  p(style="Position:Absolute; left:5%; top:14%")
    | We made a generic wallet API which
    | enables your code for working with 
    | different cryptocurrencies.
    | The idea borned in a research which
    | envolved first 30s cryptocurrencies
    | from Coin Market Cap. From 9 to 30
    | they are not supported very well.
